<div class="bio"> {{ site.data.author.bio }} </div>

<div class="social-links">

    <a href="https://github.com/{{ site.data.author.github }}" class="social-link">
        <i class="fa-brands fa-github social-icon"></i>
        <span>GitHub</span>
    </a>

    <a href="https://gitlab.com/{{ site.data.author.gitlab }}" class="social-link">
        <i class="fa-brands fa-gitlab social-icon"></i>
        <span>GitLab</span>
    </a>

    <a href="https://linkedin.com/in/{{ site.data.author.linkedin }}" class="social-link">
        <i class="fa-brands fa-linkedin social-icon"></i>
        <span>LinkedIn</span>
    </a>

    <a href="https://twitter.com/{{ site.data.author.twitter }}" class="social-link">
        <i class="fa-brands fa-twitter social-icon"></i>
        <span>Twitter</span>
    </a>

    <a href="https://instagram.com/{{ site.data.author.instagram }}" class="social-link">
        <i class="fa-brands fa-instagram social-icon"></i>
        <span>Instagram</span>
    </a>

    <a href="https://facebook.com/{{ site.data.author.facebook }}" class="social-link">
        <i class="fa-brands fa-facebook social-icon"></i>
        <span>Facebook</span>
    </a>

    <a href="https://www.youtube.com/@{{ site.data.author.youtube }}" class="social-link">
        <i class="fa-brands fa-youtube social-icon"></i>
        <span>YouTube</span>
    </a>

    <a href="{{ site.data.author.googlescholar }}" class="social-link">
        <i class="ai ai-google-scholar social-icon"></i>
        <span>Google Scholar</span>
    </a>
</div>